/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{


--header-height: 4.1rem;

--body-color: rgba(255,251,254,0.9);
--titles-text: #0d0440;
--color-1: #346bf7;
--color-primary-a20: #a482d9;
--color-primary-a25: #8b64ce;
--color-primary-a30: #7146c4;
--color-primary-a35: #5427b9;
--color-primary-a40: #49239c;
--color-primary-a45: #3f1f81;
--color-primary-a50: #341b66;
--color-primary-a55: #29174c;
--color-primary-a60: #1f1334;
--color-primary-a65: #150b1e;
--color-primary-a100: #000000;


  /*========== fonte e tipografia ==========*/
  
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    scroll-behavior: smooth;
  }


  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    font-weight: 300;
    font-style: normal;
    
  }
  

  .container {
    max-width: 1384px;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

  
  .grid {
    display: grid;
  }

  .main {
    overflow: hidden;
  }

  /*=============== HEADER e NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
 
  
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    border: 1px solid #fff;
  }


.nav__logo{
    
    width: 340px;
    padding: 0 1.5rem;
    
   
   
}
.img__logo{
   max-height: 40%; 
   width: 200px;
  
}

.nav__menu{
    
    display: flex;
   
   
    
}

.nav__list{
    display: flex;
    

    
    
}

.nav__item{
    list-style-type: none;
    margin: 0rem;
    width: 110px;
    
    
    padding: 0 4rem;
    
}

.nav__link{
   display: flex;
   justify-content: center;
   text-decoration: none;
   color: var(--titles-text);
   font-weight: 400;
   font-size: 1.1rem;
   margin: 1.5rem;
   
}

.link__languages{
    text-decoration: none;
}


.nav__languages{
   
    
    margin: 0.5rem;
}

.logo__languagues {
    align-items: center;
    padding-top: 0.4rem;
    width: 30px;
    margin: 0 auto;
    margin: 0.5rem;

}

.nav__icon{
    display: flex;
    align-items: center;
    margin: 0.6rem;
    font-size: 0.7rem;
}

.nav__button{
    padding: 0.7rem 3.5rem;
    border: 3px solid var(--titles-text);
    display: flex;
    background-color: var(--body-color);
    border-radius: 0.45rem; 
}


.nav__btn{
    color: var(--titles-text);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: var(--font-semi-bold);
}

.nav:hover .nav__button,
.nav:hover .nav__btn {
 background-color: var(--titles-text);
 color: var(--body-color);
 
}

/*=============== HERO ===============*/


.hero {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    height: 100vh;
    background: rgb(52,107,246);
    background: linear-gradient(90deg, rgba(52,107,246,1) 60%, rgba(13,3,64,1) 100%);
}



.hero__contain {
    flex: 1;
    padding: 3rem;
    padding-left: 4rem; 
}





.hero__img{
    width: 535px;
    margin-top: 6rem;
 
}

.hero__title{
 font-size: 2.2rem;
 padding-left: 1rem; 
 color: var(--body-color);
 font-weight: 500;
 margin-top: -4rem;
 
}

.hero__subtitles{
    font-size: 1.2rem;
    margin-top:0.9rem;
    color: var(--body-color);
    font-weight: 400;
    padding-left: 1rem; 
}


.hero__topics {
    margin-top: 1.5rem;
    padding-left: 1.8rem; 
}


.hero__topics-list{
    color: var(--body-color);
}

.hero__icon{
    color: var(--body-color);
    font-size: 3rem;
    margin-top: 0.8rem;
    padding-left: 15rem;
    font-weight: 800;
    border-radius: 1rem;
}

.form-container {
    flex: 1;
    margin-right: 9rem;
    max-width: 500px;
    height: 74vh;
    background-color: white;
    padding: 0rem 3rem;
    border-radius: 1.4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
}


.form-container i {
    font-size: 3rem;
    margin-top: 2.5rem;
    color: var(--color-1);
}

.form-container h2 {
    font-size: 1rem;
    color: #333;
    font-weight: 600; 
    margin-bottom: 1rem;
}

.form-container p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2.4rem;
    opacity: 0.8;
}


.form-container input {
    width: 100%;
    padding: 1.2rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    opacity: 0.8;
    border-radius: 1rem; 
    font-size: 1rem;
    transition: border-color 0.3s ease; 
}

.form-container input::placeholder {
   opacity: 0.8;
}

.form-container input:focus {
    border-color: #4a90e2;
    outline: none; 
}

.form-container button {
    width: auto; 
    padding: 1rem 2.5rem; 
    background-color: #4a90e2;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-left: auto; 
}

.form-container button:hover {
    background-color: #357ABD;
}


.partners {
    text-align: center;
    padding: 50px 0; 
    background-color: #fff; 
}

.partners h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 40px;
}


.swiper-container {
    width: 90%; 
    margin: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide img {
    max-width: 150px; 
    padding: 10px;
    filter: grayscale(100%); 
    transition: filter 0.3s ease; 
}

.swiper-slide img:hover {
    filter: grayscale(0%); 
}


.swiper-button-next,
.swiper-button-prev {
    color: #4a90e2;
}


.swiper-pagination-bullet {
    background-color: #4a90e2;
}
.partners {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
}

.partners h2 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 40px;
}

.swiper-container {
    width: 100%;
    overflow-x: hidden; 
}

.swiper-wrapper {
    display: flex; 
}

.swiper-slide {
    min-width: 150px;
    flex-shrink: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}







.features-section {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
}

.features-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #0046FF;
}

.features-subtitle {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 7rem;
}

.features-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

.feature-item {
    position: relative;
    text-align: center;
    flex-grow: 1;
    max-width: 200px;
}

.feature-item i {
    font-size: 3rem;
    color: #0046FF;
    margin-bottom: 1.1rem;
    margin-top: -1.5rem;
}

.feature-item h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-top: 1.5rem;
}

.feature-item p {
    font-size: 1rem;
    color: #666;
    margin-top: 1rem;
}


.feature-text {
    margin-top: -5rem;
}


.feature-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0%; 
    right: -150px; 
    width: 185px;
       
    
    height: 1px;
    border-bottom: 3px dotted #0046FF;
    transform: translateY(-50%);
}

.feature-replace {
    margin-top: 2rem;
    padding-top: 1rem;
    position: relative;
}

.feature-replace::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%; 
    height: 1px;
    background-color: #666; 
}

.feature-replace span {
    display: block;
    font-weight: bold;
    color: #0046FF;
}

.feature-replace p {
    font-size: 0.9rem;
    color: #666;
    margin: 5px 0;
}


.sales-section {
    margin-top: 5rem;
}

.sales-button {
    padding: 15px 30px;
    background-color: #0046FF;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.sales-button:hover {
    background-color: #003399;
}



.resources-section {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.resources-header h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.resources-header h2 span {
    color: var(--color-1);
}

.resources-header p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
}

.resources-row-1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
    max-width: 800px; 
    margin: 0 auto; 
}


.resources-row-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    max-width: 600px; 
    margin: 0 auto; 
 }

.resource-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem; 
    padding: 2px 8px; 
    background-color: transparent;
    border: none;
    border-radius: 0.75rem;
    color: #333;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    min-height: 3rem; 
}

.resource-btn i {
    font-size: 1.2rem;
    color: #666;
}

.resource-btn:hover {
    background-color: #ddd;
}

.resource-btn.active {
    background-color: var(--titles-text);
    color: white;
}

.resource-btn.active i {
    color: var(--color-1); 
}

.resources-content{
    margin-top: 2.5rem;
    
}

.resources-content h3{
font-size: 0.9rem;
}

.resource-img{
    margin-top: 1rem;
    width: 25%;
}



.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f5f5f5; 
}

.cta-box {
    background: linear-gradient(90deg, #0b0d41 0%, #0046FF 100%);
    padding: 7rem 7rem;
    border-radius: 2rem;
    text-align: center;
    color: white;
    width: 1200px;
    max-width: 1200px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cta-box p {
    font-size: 1.55rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.cta-box p strong {
    font-weight: bold;
}

.cta-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 2px solid white;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.cta-link:hover {
    color: #ffdd57; 
    border-color: #ffdd57; 
}


.footer-section {
    background-color: #0b0d41;
    color: white;
    padding: 40px 20px;
    font-family: 'Arial', sans-serif;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column h4 {
    font-size: 1.2rem;
    color: #00aaff;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-logo {
    width: 150px;
    margin-bottom: 20px;
}

.footer-social {
    margin-top: 20px;
}

.footer-social a {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #00aaff;
}

/* Parte inferior do rodapé */
.footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20px;
}

.footer-bottom p {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.footer-bottom-links img {
    width: 100px;
    margin: 0 10px;
}



@media only screen and (max-width: 768px) {

    .container {
      max-width: 100%;
      padding: 0 1rem;
    }
  
    .nav__logo {
      width: 200px;
    }
  
    .img__logo {
      width: 150px;
    }
  
    .nav__item {
      width: 80px;
      padding: 0 2rem;
    }
  
    .nav__link {
      font-size: 1rem;
      margin: 1rem;
    }
  
    .hero {
      flex-direction: column;
      height: auto;
    }
  
    .hero__img {
      width: 300px;
      margin: 2rem auto;
    }
  
    .hero__title {
      font-size: 1.5rem;
    }
  
    .hero__subtitles {
      font-size: 1rem;
    }
  
    .form-container {
      margin-right: 1rem;
      margin-left: 1rem;
      width: 100%;
      padding: 1.5rem;
    }
  
    .partners h2 {
      font-size: 1.5rem;
    }
  
    .features-title {
      font-size: 2rem;
    }
  
    .features-container {
      flex-direction: column;
      gap: 1.5rem;
    }
  
    .feature-item {
      max-width: none;
    }
  
    .cta-box {
      padding: 3rem 2rem;
      width: 90%;
    }
  
    .footer-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
 
  @media only screen and (max-width: 480px) {
  
    .container {
      max-width: 100%;
      padding: 0 0.1rem;
    }

    .nav__button{
        padding: 0.5rem 0.5rem;
    }
  
    .nav__logo {
      width: 150px;
    }
  
    .img__logo {
      width: 100px;
    }
  
    .nav__item {
      width: 60px;
      padding: 0 1rem;
    }
  
    .nav__link {
      font-size: 0.9rem;
      margin: 0.5rem;
    }
  
    .hero__title {
      font-size: 1.3rem;
    }
  
    .hero__subtitles {
      font-size: 0.9rem;
    }
  
    .hero__img {
      width: 250px;
    }
  
    .form-container {
      margin: 1rem auto;
      padding: 1rem;
      width: 100%;
    }
  
    .features-container {
      flex-direction: column;
      gap: 1rem;
    }
  
    .feature-item {
      max-width: none;
    }
  
    .cta-box {
      padding: 2rem;
      width: 100%;
    }
  
    .footer-content {
      grid-template-columns: 1fr;
    }
  
    .footer-column h4 {
      font-size: 1rem;
    }
  }
  
